/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	height: 100%;
	color:#777;
}

p {
	line-height:1.8;
}

strong {
	font-weight: 500;
	color: #444;
}

a {
	text-decoration:none;
	color:#5badf0;
}

#wrapper {
	margin:0 auto;
	width: 100%;
	height: 100%;
}

/* Link to Documentation */
a#documentation {
	position: fixed; top: 11px; right: 9px;
	background: #5badf0; color: #fff;
	padding: 8px 12px;
	font-size: 13px; font-weight: 600; line-height: 1.35;
	border-radius: 3px; z-index: 100;
}

/* Horizontally and vertically centers the text */
.center {
	margin: 0 auto;
	padding:0 40px 0 40px;
	max-width:600px;
	position: relative; top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#badge {
	position: absolute; bottom: 10px; right: 10px;
	height: 48px; width: 48px;
}
